<!DOCTYPE html>
<html lang="es">

<head>
    <title>individual6.3</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Información de Clientes</h1>
                        <table class="table table-striped">
            <thead>
            <tr>
            <th>Nombre</th>
            <th>URLS</th>
            </thead>
        <p> {{context.usuarios.nombre}}</p>
        <p> {{context.usuarios.url}}</p>
        
                                    
</table>
        </DIV>
    </DIV>
</DIV>
        
    
    
</body>
